<div class="wrapper">
    <div class="mobile-menu-btn" (click)="menuOpen = !menuOpen">
    {{ menuOpen ? '×' : '☰' }}
    </div>
  <div class="left" [class.open]="menuOpen">
    <a>HOME</a>
    <a>VIDEOS</a>
    <a>STORE</a>
    <a>SHOWS</a>
    <a>SIGN UP</a>
    <a>TUMBLR</a>
  </div>

  <div class="right">
    <img
      class="logo-image"
      src="assets/Imad-logo.png"
      alt="Imad logo"
    />
  </div>

  <div class="center-release">

    <div class="covers">

      <img
        class="cover"
        src="assets/second-high.jpg"
        alt="Second high cover"
      />

      <img
        class="cover second-cover"
        src="assets/second-high2.jpg"
        alt="Second high second cover"
      />

    </div>

    <div class="release-info">

      <p class="release-text">
        'Second high' is out now &lt;3
      </p>

      <a
            href="https://linktr.ee/Imad4fs"
            target="_blank"
            >
        <button class="listen-btn">
            Listen to "Second high"
        </button>
    </a>

    </div>

    <nav class="socials">

      <a
        href="https://www.instagram.com/imad4fs"
        target="_blank"
      >
        Instagram
      </a>

      <a
        href="https://www.tiktok.com/@imad4fs"
        target="_blank"
      >
        TikTok
      </a>

      <a
        href="https://www.youtube.com/@imad4fs"
        target="_blank"
      >
        YouTube
      </a>

      <a
        href="https://imadffs.tumblr.com"
        target="_blank"
      >
        Tumblr
      </a>

      <a
        href="https://open.spotify.com/artist/2ChDByaiLQitHbieJKsKiG"
        target="_blank"
      >
        Spotify
      </a>

    </nav>

  </div>

</div>